.page-not-found {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.page-not-found p {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 25px;
    color: #fff;
}

.link-not-found {
    color: #2784db;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}