.page-both-content {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.title-both-content {
    color: #fff;
    font-size: 30px;
}

.container-both-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
}


@media (max-width: 768px) {
    .container-both-content {
        justify-content: space-between;
    }
}
