.container-button-content {
    display: flex;
    align-items: center;
    gap: 14px;
    margin: auto;
}

.link-both-content {
    text-align: center;
    border-radius: 5px;
    border: none;
    color: #eee;
    font-size: 16px;
    transition: color .5s ease-in-out;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 12px;
    text-decoration: none; 
}

.link-both-content:hover {
    color: #fff;
}

.title-page {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}
