.container-trailer-content {
    width: 100%; 
    height: 100%;
    cursor: pointer;
}

.container-thumnail {
    width: 100%; 
    height: 100%; 
    position: relative; 
    border-radius: 10px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.thumnail {
    object-fit: cover;
    border-radius: 10px;

}

.icon-trailer {
    position: absolute;
    z-index: 1; 
    margin: auto; 
}
