.page-search {
    width: 100%;
    height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;

}

.title-search {
    font-size: 40px;
    color: #fff;

}
.container-content-search {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .container-content-search {
        justify-content: space-between;
    }
}

@media (max-width: 425px) {
    .container-content-search {
        gap: 10px;
    }
    
  }
